.header {
  background-color: #fff;
  border-bottom: 1px solid #e2e5e6;
}

.headerContent {
  margin: 0 auto;
  max-width: 1280px;
  padding: 16px;

}

.main {
  margin: 0 auto;
  max-width: 1280px;
  padding: 16px;
}

.title {
  font-size: 30px;
  line-height: 33px;
  text-align: center;
  padding: 16px 0 32px 0;
}

.searchName {
  color: #5ca4cd;
}

.candidates {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 16px;
  justify-content: center;
}

.filter {
  width: 100%;
  height: 100%;
  background-color: #5ca4cd;
  opacity: .5;
  position: absolute;
}
